.FormContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.FormBoxContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.FormInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.FormInput input {
    padding: 0.5rem;
}

.FormInputMarginRight {
    margin-right: 10px;
}
.FormInputMarginLeft {
    margin-left: 10px;
}

.FormButtonContainer {
    width: 100%;
}

.SubmitButton {
    padding: 0.5rem;
    width: 100%;
    margin-top: 10px;
}
