.EmployeeListPageContainer {
    margin: 2rem;
}

.EmployeeListPageAddEmployeBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.ToggleBtnAddCancelEmployee {
    padding: 0.4rem 1rem;
    background-color: #409d44;
    color: var(--white-text-color);
    border: none;
    border-radius: 4px;
}
.ToggleBtnAddCancelEmployee:hover {
    background-color: #348037;
}

.Details {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
}

.Summary {
    background-color: #8b9dc3;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
}

.Summary span {
    font-weight: bold;
}

.DetailsContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.DetailsContent p {
    margin: 5px 0;
}

.DetailsContent p span {
    font-weight: bold;
}

.ActionButtons {
    display: flex;
    margin-top: 10px;
}

.DeleteButton {
    background-color: #db3434;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.EditButton:hover,
.DeleteButton:hover {
    background-color: #b92929;
}
